^{:auto-testing true
  :open-url false
  :watch-dirs ["src"]}
{:main         js-modules-test.core
 :foreign-libs [{:file        "node_modules/js-joda/dist/js-joda.esm.js"
                 ;https://clojure.atlassian.net/browse/CLJS-2402
                 :provides    ["js-jodax"]
                 :global-exports {js-jodax JSJoda}
                 :module-type :es6}]
 :optimizations :advanced}